<ion-content padding="true" direction="y">
<form name="form" novalidate>
    <div >
        <h2> {{languages.forgot_password}}</h2>
        {{languages.forgot_password_enter_email}}
        <div class="item-input-inset">
            <div class="item-input-wrapper">
                <input type="email" ng-model="email" name="email"  placeholder="{{languages.email}} * " ng-enter="submit_forgot_password(email)">
                <button class="button button-clear button-small"
                ng-show="email != ''"
                ng-click="email = ''">
                <i class="icon ion-close-circled"></i>
                </button>
            </div>
        </div>
        <div class="item-input-inset-error" ng-show="form.email.$dirty && form.email.$invalid">
            <span ng-show="form.email.$error.email">{{languages.this_is_not_a_valid_email}}.</span>
        </div>
        
        <div class="item-input-inset">
            <div class="button-bar">
                <button class="button button-small" ng-click="redirect_url('#/login')">
                {{languages.cancel}}
                </button>
                <button class="button button-small button-positive"  
                    ng-click="submit_forgot_password(email)"
                    ng-disabled="email == '' || form.email.$error.email">
                {{languages.submit}}
                </button>
            </div>
        </div>
    </div>
</form>
</ion-content>