<ion-content class="center-middle" padding="true" direction="y">
<form id="form_account">
    <div >
        <a href="javascript:window.open('http://kootoro.com', '_system', 'location=no')" target="_blank" >
          <img src='images/logo_kootoro.png' style="width:100%;" />
        </a>
        
        <h2 style="padding:0 10px;"> {{languages.login_title}}</h2>
        
        <div class="item-input-inset">
            <div class="item-input-wrapper">
                <input type="email" ng-model="user_data.email" id="email" name="email" placeholder="{{languages.email}} * ">
                <button class="button button-clear button-small"
                      ng-show="user_data.email" 
                      ng-click="user_data.email = ''"
                  >
                <i class="icon ion-close-circled"></i>
              </button>
            </div>
        </div>
        
        <div class="item-input-inset">
            <div class="item-input-wrapper">
                <input type="password" maxlength="12" ng-model="user_data.password" name="password" placeholder="{{languages.password}} * ">
                <button class="button button-clear button-small"
                      ng-show="user_data.password" 
                      ng-click="user_data.password = ''">
                <i class="icon ion-close-circled"></i>
              </button>
            </div>
        </div>
        <div class="item-input-inset">
            <button class="button button-block  button-small" ng-click="submit_login_account(user_data)"  ng-disabled="isUnchanged(user_data)">
            {{languages.submit}}
            </button>
        </div>
    </div>
</form>
<div class="center-middle" >
    <button class="button button-clear button-positive button_height" ng-click="redirect_url('#/forgot_password')" style="no-padding">
      {{languages.forgot_password}}
    </button> 
</div>
<div class="center-middle" >
    <button class="button button-clear button-positive button_height" ng-click="redirect_url('#/register')">
      {{languages.create_new_account}}
    </button>   
</div>
<style type="text/css">
  .button_height {
    min-height: 0 !important;
    line-height: normal !important;
  }
</style>
</ion-content>