<ion-content padding="true" class="center-middle" direction="x">
<form id="form_account">
    <div >
        <a href="javascript:window.open('http://kootoro.com', '_system', 'location=no')" target="_blank" >
          <img src='images/logo_kootoro.png' style="width:100%;" />
        </a>
        
        <h2 style="padding:0 10px;"> {{languages.login_title}}</h2>
        
        <div class="item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" ng-model="user_data.email" id="email" name="email" value="" placeholder="{{languages.email}} * ">
            </label>
        </div>
        <div class="item-input-inset">
            <label class="item-input-wrapper">
                <input type="password" maxlength="12" ng-model="user_data.password" name="password" value="" placeholder="{{languages.password}} * ">
            </label>
        </div>
        <div class="item-input-inset">
            <button class="button button-block  button-small" ng-click="submit_login_account(user_data)"  ng-disabled="isUnchanged(user_data)">
            Submit
            </button>
        </div>
    </div>
</form>
<div class="center-middle" >
    <button class="button button-clear button-positive" ng-click="redirect_url('#/register')">
      Create New Account
    </button>   
</div>
</ion-content>