<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="">
    
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> {{back}}</ion-nav-back-button>
    </ion-nav-bar>

   

    <ion-nav-view name="menuContent" animation="slide-left-right">
 
    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" class="ko-side-menu-left"  style="background-color: #363738 !important;">
    <header class="bar bar-header">
      <h1 class="title">
        <a href="javascript:window.open('http://kootoro.com', '_system', 'location=no')" target="_blank" >
          <img src="images/logo_kootoro.png" style="height:100%;">
        </a>
      </h1>
    </header>
    <ion-content class="has-header" style="background-color: #363738 !important;">
 
      <ion-list  style="color: #363738 !important;">
        
        <ion-item id="user_left" class="item-avatar">
          <img name="avatar" src="{{user.avatar}}" menu-close ng-click="redirect_url('#/app/profile')">
          <h2 name="fullname"  menu-close ng-click="redirect_url('#/app/profile')">{{user.full_name}}</h2>
          <p name="balance" style="text-overflow:unset;">{{user.balance | number}} {{languages.web_currency}}s
            <button class="button button-small button-assertive" style="line-height:16px; min-height:22px;" ng-click="refesh_balance();">
              Refesh
            </button>
          </p>
        </ion-item>

         <ion-item nav-clear class="item-icon-left" menu-close href="#/app/checkout/true" ng-show="my_cart.content.length >= 1" >
          <i class="icon ion-bag"></i>
          {{languages.my_items}}
          <span class="item-note">
            {{(my_cart.content.length==1)? my_cart.content.length + ' item' : my_cart.content.length + ' items'}}
          </span>
        </ion-item>

        <ion-item nav-clear  class="item-avatar" menu-close href="#/app/games">
          <img src="images/ic_playing_games.png">
          {{languages.toro_games}}
        </ion-item>
        <ion-item nav-clear  class="item-avatar" menu-close href="#/app/lottery">
          <img src="images/lottery.png">
          {{languages.lottery}}
        </ion-item>
        <ion-item nav-clear class="item-avatar" menu-close href="#/app/product">
          <img src="images/balance.png">
          {{languages.toro_rewards}}
        </ion-item>
        <ion-item nav-clear  class="item-avatar" menu-close href="#/app/buy">
          <img src="images/ic_trading.png">
          {{languages.toro_exchange}}
        </ion-item>
        
        <ion-item nav-clear  class="item-avatar" menu-close href="#/app/friend">
          <img src="images/friend.png">
          {{languages.friend}}
        </ion-item>
        <ion-item nav-clear menu-close ng-click="openHelp()">
            <!-- <i class="icon ion-ios7-help-empty"></i> -->
            {{languages.help}}
        </ion-item>
          
        <ion-item nav-clear menu-close  ng-click="app_about()">
          <!-- <i class="icon ion-ios7-information-empty"></i> -->
          {{languages.about}}
        </ion-item>
        <ion-item nav-clear menu-close  ng-click="user_logout()">
          <!-- <i class="icon ion-ios7-unlocked-outline"></i> -->
          {{languages.logout}}
        </ion-item>
        <ion-item style="{{css_hide}}"  name="app_exit" nav-clear menu-close ng-click="app_exit()">
          <!-- <i class="icon ion-iphone"></i> -->
          {{languages.exit}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
