<div class="list personal">
    <div class="item">
        {{languages.payment_account}}
        <span class="item-note">
        xxxx-xxxx-xxxx-{{payment.current_account.detail.cc_last4digits}}
        </span>
    </div>
    <div class="item">
        {{languages.address_1}}
        <span class="item-note">
        {{payment.current_account.address.street_address_1}}
        </span>
    </div>
    <div class="item">
        {{languages.address_2}}
        <span class="item-note">
            {{payment.current_account.address.street_address_2}}
        </span>
    </div>
    <div class="item">
        {{languages.country}}
        <span class="item-note">
            {{payment.current_account.address.country.name}}
        </span>
    </div>
    <div class="item">
        {{languages.city}}
        <span class="item-note">
            {{payment.current_account.address.city}}
        </span>
    </div>
    <div class="item">
        {{languages.state_province}}
        <span class="item-note">
            {{payment.current_account.address.state}}
        </span>
    </div>
    <div class="item">
        {{languages.zip_code}}
        <span class="item-note">
            {{payment.current_account.address.zip_code}}
        </span>
    </div>
    <div class="item">
        {{languages.phone}}
        <span class="item-note">
            ({{payment.current_account.address.area_code}})-{{payment.current_account.address.phone_number}}{{ (payment.current_account.address.phone_extension != '') ? '-'+payment.current_account.address.phone_extension : ''}}
        </span>
    </div>
</div>

<style type="text/css">
    .personal  div.item {
        margin: -1px 0;
    }
</style>