<h3> {{languages.payment}} <img src="images/cards.jpg"></h3>
<div class="list" style="margin-bottom:10px;">
        
    <label class="item item-input item-select"  style="margin: -1px 0;" >
        <div class="input-label" style="width:0px;">
            &nbsp;
        </div>
        <span  class="nullable">
        <select style="width:100%; max-width:100%;direction:ltr;" 
            ng-model="payment.current_account" 
            ng-change="payment.select_account()"
            ng-options="'xxxx-xxxx-xxxx-' + r.detail.cc_last4digits for r in payment.resources.payment track by r.payment_account_id"
        >
            <option value="">{{languages.new_payment_account}}</option>
        </select>
        </span>
    </label>
</div>
