<ion-view>
<ion-content padding="true" direction="y">
<div>
    <h2> {{languages.update_password}}</h2>
    <form id="form_update_password">
    <div class="list personal">
        <div class="item-input-inset-label">
            <label>{{languages.current_password}} * </label>
        </div>
        <div class="item-input-inset">
            <div class="item-input-wrapper">
                <input type="password" maxlength="12" ng-model="user_data.current_password" id="current_password" name="password" value="" >
                <button class="button button-clear button-small"
                      ng-show="user_data.current_password" 
                      ng-click="user_data.current_password = ''">
                    <i class="icon ion-close-circled"></i>
                </button>
            </div>
        </div>
        <div class="item-input-inset-label">
            <label>{{languages.new_password}} * </label>
        </div>
        <div class="item-input-inset">
            <div class="item-input-wrapper">
                <input type="password" maxlength="12" ng-model="user_data.new_password" id="new_password" name="newpassword" value=""  ng-change="password_match(user_data)" >
                <button class="button button-clear button-small"
                      ng-show="user_data.new_password" 
                      ng-click="user_data.new_password = ''">
                    <i class="icon ion-close-circled"></i>
                </button>
            </div>
        </div>
        <div class="item-input-inset-label">
            <label>{{languages.confirm_new_password}} * </label>
        </div>
        <div class="item-input-inset">
            <div class="item-input-wrapper">
                <input type="password" maxlength="12" ng-model="user_data.confirm_new_password" name="confirmnewpassword" value="" placeholder="" id="confirm_new_password" ng-change="password_match(user_data)" >
                <button class="button button-clear button-small"
                      ng-show="user_data.confirm_new_password" 
                      ng-click="user_data.confirm_new_password = ''">
                    <i class="icon ion-close-circled"></i>
                </button>
            </div>
        </div>

        <div class="item-input-inset-error">
            <span ng-show="dontMatch_password">{{languages.password_do_not_match}}.</span>
        </div>

        <div class="item-input-inset">
            <button class="button button-block  button-small" ng-click="submit_update_password()"  ng-disabled="is_update_password(user_data)">
            {{languages.update}}
            </button>
        </div>
    </div>
    </form>
</div>
</ion-content>
</ion-view>