<ion-view title="{{languages.money_toro_history}}">
<ion-content direction="y">
<div>
    <div class="list">
        <div class="item" ng-repeat="r in data.records">
            <h2> {{r.paydate}} </h2>
            <p>{{r.description}}.</p>
            <span class="badge badge-balanced" ng-if="r.amount != 0">{{languages.money}}: {{languages.usd_icon}}{{r.amount | number}}</span>
            <span class="badge badge-assertive">{{languages.web_currency}}s: {{r.paytype}}{{r.point | number}} {{languages.web_currency}}s</span>
            <span class="badge badge-positive">{{languages.balance}}: {{r.balance | number}} {{languages.web_currency}}s </span>
        </div>

    </div>
</div>
<style type="text/css">
.title {
    overflow: inherit !important;
}

.item, .item p {
    text-overflow: inherit !important;
    white-space: inherit !important;
}
.item .badge {
    display: inline !important;
    position: initial !important;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px !important;
    text-overflow: inherit !important;
}
.footer_paging{
  
}
.footer_paging div.input-label {
  width: 100%;
  max-width: 100%;
}
.footer_paging select {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0;
}
</style>
</ion-content>
<ion-footer-bar class="bar-stable" >
<div class="footer_paging" style="width:100%;">
    <label class="item item-input item-select text-center" style="padding:0;">
        <div class="input-label">
            {{languages.page}}: {{data.page}}
        </div>
        <select ng-change="fn_paging(ipage.page_number)" ng-model="ipage" id="page" ng-options="r.page_number for r in data.pPaging">

        </select>
    </label>
</div>
</ion-footer-bar>
</ion-view>