

# Require password to view demo

SetEnvIfNoCase User-Agent .*android.* mobiledevices
SetEnvIfNoCase User-Agent .*iPhone.* mobiledevices
SetEnvIfNoCase User-Agent .*Phone .* mobiledevices

Order deny,allow
Deny from all
AuthUserFile C:\Users\haidangbayern\git\phonegapkt\www\.htpasswd
AuthName "Demo"
AuthType Basic
Require valid-user
Allow from env=mobiledevices
Satisfy Any
