<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:cdv = "http://cordova.apache.org/ns/1.0"
        id          = "com.abcv.kootoro.lottery"
        version     = "2.0.191"
        versionCode = "10" >

        
        <name>Kootoro</name>

        <description>ABCV product</description>

        <author href="http://abcv.com" email="huy.tran@abcv.com">
            Developer: Mr Freb
        </author>
        

        <content src="index.html" />
        <access origin="*" subdomains="true" />
        <preference name="phonegap-version" value="3.5.0" /> <!-- all: current version of PhoneGap -->
        <preference name="orientation" value="portrait" /> <!-- all: default means both landscape and portrait are enabled -->
        <preference name="DisallowOverscroll" value="true" />
        <preference name="UIWebViewBounce" value="false" />
        
        <preference name="EnableViewportScale" value="false" />
        <preference name="HideKeyboardFormAccessoryBar" value="false" />
        <preference name="KeyboardDisplayRequiresUserAction" value="true" />
        <preference name="KeyboardShrinksView" value="false" />
        <preference name="Fullscreen" value="true" />
        
        <!-- Using plugin of cordova -->
        <gap:plugin name="org.apache.cordova.network-information" />
        <gap:plugin name="org.apache.cordova.battery-status" />
        <gap:plugin name="org.apache.cordova.camera" />
        <gap:plugin name="org.apache.cordova.media-capture" />
        <gap:plugin name="org.apache.cordova.console" />
        <gap:plugin name="org.apache.cordova.contacts" />
        <gap:plugin name="org.apache.cordova.device" />
        <gap:plugin name="org.apache.cordova.device-motion" />
        <gap:plugin name="org.apache.cordova.device-orientation" />
        <gap:plugin name="org.apache.cordova.file" />
        <gap:plugin name="org.apache.cordova.file-transfer" />
        <gap:plugin name="org.apache.cordova.geolocation" />
        <gap:plugin name="org.apache.cordova.globalization" />
        <gap:plugin name="org.apache.cordova.inappbrowser" />
        <gap:plugin name="org.apache.cordova.media" />
        <gap:plugin name="org.apache.cordova.dialogs" />
        <gap:plugin name="org.apache.cordova.vibration" />
        <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />
        
        <gap:plugin name="com.ionic.keyboard" version="1.0.3" />
        <!--<gap:plugin name="com.plugin.datepicker" version="0.3.2" />-->
        <gap:plugin name="com.millerjames01.sqlite-plugin" version="1.0.1" />
        <gap:plugin name="nl.x-services.plugins.toast" version="2.0" />
        
    
        <!-- icons -->
        <icon src="res/icon/icon.png" />
        <!-- android OK -->
        <icon src="res/icon/android/drawable-ldpi/ic_launcher.png" gap:platform="android" gap:qualifier="ldpi" />
        <icon src="res/icon/android/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:qualifier="mdpi" />
        <icon src="res/icon/android/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:qualifier="hdpi" />
        <icon src="res/icon/android/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="xhdpi" />
        <icon src="res/icon/android/drawable-xxhdpi/ic_launcher.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
        <!-- ios OK -->
        <icon src="res/icon/ios7/icon.png" gap:platform="ios" width="57" height="57" />
        <icon src="res/icon/ios7/icon-72.png" gap:platform="ios" width="72" height="72" />
        <icon src="res/icon/ios7/icon@2x.png" gap:platform="ios" width="114" height="114" />
        <icon src="res/icon/ios7/icon-72@2x.png" gap:platform="ios" width="144" height="144" />        
        <icon src="res/icon/ios7/icon-60.png" gap:platform="ios" width="60" height="60" />
        <icon src="res/icon/ios7/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
        <icon src="res/icon/ios7/icon-76.png" gap:platform="ios" width="76" height="76" />
        <icon src="res/icon/ios7/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
        <icon src="res/icon/ios7/icon-small.png" gap:platform="ios" width="29" height="29" />
        <icon src="res/icon/ios7/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
        <icon src="res/icon/ios7/icon-40.png" gap:platform="ios" width="40" height="40" />
        <icon src="res/icon/ios7/icon-40@2x.png" gap:platform="ios" width="80" height="80" />        
        
        <!-- Splash -->
        <gap:splash src="res/screen/Default.png" />
        <gap:splash src="res/screen/Default.png" gap:platform="android" gap:density="ldpi" />
        <gap:splash src="res/screen/Default.png" gap:platform="android" gap:density="mdpi" />
        <gap:splash src="res/screen/Default.png" gap:platform="android" gap:density="hdpi" />
        <gap:splash src="res/screen/Default.png" gap:platform="android" gap:density="xhdpi" />
        <gap:splash src="res/screen/Default.png" gap:platform="android" gap:density="xxhdpi" />
        <gap:splash src="res/screen/Default.png" gap:platform="ios" width="320" height="480" />
        <gap:splash src="res/screen/Default.png" gap:platform="ios" width="640" height="960" />
        <gap:splash src="res/screen/Default.png" gap:platform="ios" width="640" height="1136" />
        <gap:splash src="res/screen/Default.png" gap:platform="ios" width="768" height="1024" />
        <gap:splash src="res/screen/Default.png" gap:platform="ios" width="1024" height="768" />
        <gap:splash src="res/screen/Default.png" gap:platform="ios" width="1536" height="2048" />
        <gap:splash src="res/screen/Default.png" gap:platform="ios" width="2048" height="1536" />


</widget>