<ion-view title="<img src='images/logo_lottery.png' height='100%' />"  hide-back-button="true">
<!-- ************* button BACK *************** -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button menu-toggle="right"class="button button-icon icon ion-ios7-clock-outline" ng-click="showTimer()"></button>
  </ion-nav-buttons>

<!-- ************* CONTENT *************** -->
  <ion-content class="has-header lottery-main">
    <ion-slide-box 
      slide-interval = "2000"
      show-pager = "false"
      does-continue="true"
      disable-scroll="false"
      id="slide-sponors"
      style="display:none;"
      >
      <ion-slide ng-repeat="slide in slides" data-index="{{slide.index}}">
          <a target="_blank" href="{{slide.url}}">
        <img data-ng-src="{{slide.title}}" /></a>
          
      </ion-slide>
    </ion-slide-box>

      <!-- Estimated -->
      <div class="next-drawing">
          <span class="estimated-date">{{at}} {{estimated.datetime}}</span>
          <div class="estimated">
              <span class="estimated-label">{{estimated_jackpot}}</span>
              <span class="estimated-toros">{{estimated.jackpot}}</span>
          </div>
      </div>

      <!-- Last drawing -->
      <div class="last-drawing" style="display:none;">
        <span class="sub-heading">{{last_drawing.time}}</span>
        <div class="ball-draw" data-ng-bind-html="last_drawing.balls">
          {{last_drawing.balls}}
        </div>
        <div class="jackpot"><span class="badge badge-jackpot">{{last_drawing.jackpot}}</span></div>
      </div>

      <!-- button -->
      <div class="row buttons">
        <div class="col">
          <a class="lo-button"  href="#/app/add_ticket">
            <i class="icon ion-plus-circled"></i>
            {{add_ticket}}
          </a>
        </div>
        <div class="col">
          <a class="lo-button" href="#/app/my_tickets">
            <i class="icon ion-ios7-pricetag"></i>
            {{my_tickets}}
          </a>
        </div>
      </div>
      <div class="row buttons">
        <div class="col">
          <a class="lo-button"  href="#/app/history">
            <i class="icon ion-star"></i>
            {{history}}
          </a>
        </div>
      </div>

      

    <!-- begin device -->
    <input type="hidden" id="device_model" name="device[model]" value="" />
    <input type="hidden" id="device_cordova" name="device[cordova]" value="" />
    <input type="hidden" id="device_platform" name="device[platform]" value="" />
    <input type="hidden" id="device_uuid" name="device[uuid]" value="type:'url'" />
    <input type="hidden" id="device_version" name="device[version]" value="" />
    <input type="hidden" id="device_name" name="device[name]" value="" />
    <!-- end device -->

  </ion-content>



</ion-view>
