<ion-view title="<img src='images/logo_lottery.png' height='100%' />">
<!-- ************* button BACK *************** -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

<!-- ************* CONTENT *************** -->
  <ion-content class="has-header">
    
  </ion-content>

<!-- ************* FOOTER *************** -->
  <ion-tabs class="tabs-icon-top">
    
    <!-- Buy Ticket Tab -->
    <ion-tab title="Add Ticket" icon="icon ion-plus-circled" href="#/app/add_ticket">
      
    </ion-tab>
    <!-- My Ticket Tab -->
    <ion-tab title="My Tickets" icon="icon ion-ios7-pricetag" href="#/app/my_tickets">
      
    </ion-tab>
    <!-- History Tab -->
    <ion-tab title="History" icon="icon ion-star" href="#/app/history">
      
    </ion-tab>
     <!-- Setting Tab -->
    <ion-tab title="Setting" icon="icon ion-gear-a" href="#/app/setting">
      
    </ion-tab>
</ion-tabs>


</ion-view>
