<ion-view title="{{my_tickets}}">

  <ion-nav-buttons side="right">
    <button menu-toggle="right"class="button button-icon icon ion-ios7-clock-outline" ng-click="showTimer()"></button>
  </ion-nav-buttons>
  <!-- ************* CONTENT *************** -->
  <ion-content class="has-header">
      <div id="img_cached" style="display:none;">
        <img name="background" src="images/bg.png" alt="" />
        <img name="ticket" src="images/ticket.png" alt="" />
        <img name="ticket_4" src="images/ticket_4.png" alt="" />
        <img name="ticket_5" src="images/ticket_5.png" alt="" />
      </div>
      <div id="canvas_lottery_ticket" style="display:none;"></div>
      <div id="lottery_tickets" class="list">
        <div class="item item-divider">{{languages.tickets}} ({{tickets.total}})</div>

        <div class="item item-icon-right item-tickets" ng-repeat="i_ticket in [tickets.ticket.length] | makeRange" ng-click="draw_ticket({{i_ticket}})">
            <h2>
              {{i_ticket+1 | number}}/
              <span 
                class="ball ball-30" 
                ng-repeat="i_ball in [tickets.ticket[i_ticket].normal_ball.length] | makeRange"
                ng-if="tickets.ticket[i_ticket].normal_ball[i_ball] != ''"
              >
                {{tickets.ticket[i_ticket].normal_ball[i_ball]}}
              </span>

              <span class="ball ball-30 power-ball" 
                ng-repeat="i_ball in [tickets.ticket[i_ticket].power_ball.length] | makeRange"
                ng-if="tickets.ticket[i_ticket].power_ball[i_ball] != ''"
              >
                {{tickets.ticket[i_ticket].power_ball[i_ball]}}
              </span>
            </h2>
            <p>{{languages.draw_date}} : {{tickets.ticket[i_ticket].drawing_time}}</p>
            <i class="icon ion-arrow-right-c"></i>
        </div>
      </div>

      <ion-infinite-scroll
        icon=""
        distance="5%"
        on-infinite="loadMoreTicket()">
      </ion-infinite-scroll>

  </ion-content>

  <!-- ************* FOOTER *************** -->
  <ion-footer-bar class="bar-stable" style="padding-top:43px;" ng-controller="lotteryMoreMenuCtrl">
    <ion-tabs class="tabs-icon-top">
      <!-- Buy Ticket Tab -->
      <ion-tab title="{{languages.lottery}}" icon="icon ion-ios7-home" href="#/app/lottery">
        
      </ion-tab>

      <!-- Buy Ticket Tab -->
      <ion-tab title="{{languages.add_ticket}}" icon="icon ion-plus-circled" href="#/app/add_ticket">
        
      </ion-tab>
      <!-- My Ticket Tab -->
      <ion-tab title="{{languages.my_tickets}}" icon="icon ion-ios7-pricetag" href="#/app/my_tickets">
        
      </ion-tab>

      <ion-tab title="{{languages.more}}" icon="icon ion-more" ng-click="showMoreMenu()">
        
      </ion-tab>
      <!-- History Tab -->
      <!--<ion-tab title="History" icon="icon ion-star" href="#/app/history">
        
      </ion-tab>-->
      <!-- Setting Tab -->
      <!--<ion-tab title="Setting" icon="icon ion-gear-a" href="#/app/setting">
        
      </ion-tab>-->
    </ion-tabs>
  </ion-footer-bar>  

</ion-view>
