<ion-view title="Check Out">
<ion-content class=" has-header" padding="true" direction="y">

    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">

    <!-- cart -->
    <ion-slide>
    <div >		
		<ion-list>
		<h3>{{languages.my_cart}}</h3>
		<div>		  
			<a class="item item-avatar" href="#/app/trade_in/{{item.id}}" style="min-height: 50px;">
			  <img src="http://demo.games4fun.abcv.com/images/products/24_1.jpg">
			  <h2>H2Oasis Indoor Waterpark - Huffman / O' Malley</h2>
			</a>
			
			<table border="0" style="width:100%">
				<tr>				 
				  <td colspan="6" style="padding-top:5px;">
					size <select name="aaa" style="margin-right:10px;">
						  <option value="size a">1</option>
						  <option value="size b">2</option>
						  <option value="size c">3</option>
						</select>
					selecbox
					<input name="selecbox" type="radio" value="1" checked />
				  </td> 				 
				</tr>
				<tr>
				  <td>100 <i style="color:red;">{{languages.web_currency_plural}}</i></td>
				  <td>X</td>
				  <td>
					<input style="width:50px;margin:5px 0px -10px 5px;padding-left: 5px;border-radius: 4px;background-color: #eee;" class="ng-dirty ng-invalid ng-invalid-number" type="number" value="2" >
				  </td> 
				  <td>=</td>
				  <td>200 <i style="color:red;">{{languages.web_currency_plural}}</i></td>
				  <td>
					<button style="margin-bottom:5px;" class="button button-small button-assertive button-extend-left-right">
					<i class="ion ion-trash-a"></i>
					{{languages.delete}}
					</button>
				  </td>
				</tr>
			</table>

			
		</div>
		
		<div>		  
			<a class="item item-avatar" href="#/app/trade_in/{{item.id}}" style="min-height: 50px;">
			  <img src="http://demo.games4fun.abcv.com/images/products/24_1.jpg">
			  <h2>H2Oasis Indoor Waterpark - Huffman / O' Malley</h2>
			</a>
			<table border="0" style="width:100%">
				<tr>				 
				  <td colspan="6" style="padding-top:5px;">
					size <select name="aaa" style="margin-right:10px;">
						  <option value="size a">1</option>
						  <option value="size b">2</option>
						  <option value="size c">3</option>
						</select>
					selecbox
					<input name="selecbox" type="radio" value="1" checked />
				  </td> 				 
				</tr>
				<tr>
				  <td>100 <i style="color:red;">{{languages.web_currency_plural}}</i></td>
				  <td>X</td>
				  <td>
					<input style="width:50px;margin:5px 0px -10px 5px;padding-left: 5px;border-radius: 4px;background-color: #eee;" class="ng-dirty ng-invalid ng-invalid-number" type="number" value="2" >
				  </td> 
				  <td>=</td>
				  <td>200 <i style="color:red;">{{languages.web_currency_plural}}</i></td>
				  <td>
					<button style="margin-bottom:5px;" class="button button-small button-assertive button-extend-left-right">
					<i class="ion ion-trash-a"></i>
					{{languages.delete}}
					</button>
				  </td>
				</tr>
			</table>
		</div>
		</ion-list>
		

        <div class="item-input-inset">
            <div class="button-bar">
                <button class="button button-small" ng-click="redirect_url('#/app/buy')">
                {{languages.cancel}}
                </button>
                <button class="button button-small button-positive" ng-click="next_step_cc()" >
                {{languages.continue}}
                </button>
            </div>
        </div>
    </div>
    </ion-slide>


    <!-- ship info -->
    <ion-slide>
		<h3>{{languages.enter_ship}}</h3>
		<div ng-include="shipping_template_url"></div>

        <div class="item-input-inset">
            <div class="button-bar">
                <button class="button button-small" ng-click="redirect_url('#/app/buy')">
                {{languages.cancel}}
                </button>
                <button class="button button-small button-positive" ng-click="next_step_cc()">
                {{languages.continue}}
                </button>
            </div>
        </div>
    
    </ion-slide>
	
	<!-- payment info -->
    <ion-slide>
    <div >
		<h3>{{languages.enter_payment}}</h3>
		<div>
			<div ng-include="payment.select_option"></div>
			<div ng-include="payment.current_file"></div>
		</div>
        <div class="item-input-inset">
            <div class="button-bar">
                <button class="button button-small" ng-click="redirect_url('#/app/buy')">
                {{languages.cancel}}
                </button>
                <button class="button button-small button-positive" ng-click="next_step_cc()">
                {{languages.continue}}
                </button>
            </div>
        </div>
    </div>
    </ion-slide>
	
	<!-- payment info -->
    <ion-slide>
    <div >
		<h3>{{languages.total}}</h3>
		
		<div class="list personal">
			<div class="item">
				{{languages.your_current_toro}}
				<span class="item-note">
				22,724,235 {{languages.web_currency_plural}}
				</span>
			</div>
			<div class="item">
				{{languages.total}} {{languages.web_currency_plural}}
				<span class="item-note">
				22 {{languages.web_currency_plural}}
				</span>
			</div>
			<div class="item">
				{{languages.balance_after_ordered}}
				<span class="item-note">
				22,723,950 {{languages.web_currency_plural}}
				</span>
			</div>
			<div class="item">
				{{languages.shipping_handling_fees}}
				<span class="item-note">
				$37.00
				</span>
			</div>
			<div class="item">
				{{languages.processing_fee}}
				<span class="item-note">
				$0.29
				</span>
			</div>
			<div class="item">
				{{languages.tax}}
				<span class="item-note">
				$0.29
				</span>
			</div>
			<div class="item">
				{{languages.total_fee}}
				<span class="item-note">
				$0.29
				</span>
			</div>
		</div>
		
        <div class="item-input-inset">
            <div class="button-bar">
                <button class="button button-small" ng-click="redirect_url('#/app/buy')">
                {{languages.cancel}}
                </button>
                <button class="button button-small button-positive" ng-click="next_step_cc()">
                {{languages.submit_order}}
                </button>
            </div>
        </div>
    </div>
    </ion-slide>
	
	
    </ion-slide-box>


<style type="text/css">
    .personal  div.item {
        margin: -1px 0;
    }
</style>
</ion-content>
</ion-view>