<ion-view title="Receipt" >
<ion-content class="has-header" direction="y">

<div style="padding-left:5px;">
	<h3 style="color:red;">Your order has been processed successfully.</h3>
	<p>Order Receipt - Order Number G4F000000007</p>
	<p>Order Date: 09/09/2014 09:09:09</p>

	<i style="color:red;">Shipping Address</i>
	<p>Join Smith</p>
	<p>5, Nguyen Gia Thieu, New York 12345, US</p>
	<p>08.000900</p>

	<i style="color:red;">Billing Address</i>
	<p>Join Smith</p>
	<p>5, Nguyen Gia Thieu, New York 12345, US</p>
	<p>08.000900</p>
</div>
</br>
<div>
		<div>		  
			<a class="item item-avatar" href="#/app/trade_in/{{item.id}}" style="min-height: 50px;">
			  <img src="http://demo.games4fun.abcv.com/images/products/24_1.jpg">
			  <h2>H2Oasis Indoor Waterpark - Huffman / O' Malley</h2>
			</a>
			<p style="padding-left:20px;">
				100 {{languages.web_currency_plural}} X 2 item(s) = 200 {{languages.web_currency_plural}}
			</p>
		</div>
		
		<div>		  
			<a class="item item-avatar" href="#/app/trade_in/{{item.id}}" style="min-height: 50px;">
			  <img src="http://demo.games4fun.abcv.com/images/products/24_1.jpg">
			  <h2>H2Oasis Indoor Waterpark - Huffman / O' Malley</h2>
			</a>
			<p style="padding-left:20px;">
				100 {{languages.web_currency_plural}} X 2 item(s) = 200 {{languages.web_currency_plural}}
			</p>
		</div>
</div>
</br>
<div align="right">
<table border="0" style="text-align:right">
	<tr style="color:red;">
	  <td>{{languages.your_current_toro}} :</td>
	  <td style="padding-right:10px">22,724,235 {{languages.web_currency_plural}}</td> 
	</tr>
	<tr>
	  <td>{{languages.shipping_handling_fees}} :</td>
	  <td style="padding-right:10px">$37.00</td> 
	</tr>
	<tr>
	  <td>{{languages.processing_fee}} :</td>
	  <td style="padding-right:10px">$0.29</td> 
	</tr>
	<tr>
	  <td>{{languages.tax}} :</td>
	  <td style="padding-right:10px">$0.29</td> 
	</tr>
	<tr>
	  <td>{{languages.total_fee}} :</td>
	  <td style="padding-right:10px">$0.29</td> 
	</tr>
</table>
</div>
</ion-content>
</ion-view>