<ion-view title="{{product.title}}" >
<ion-content class="has-header" direction="y">
<!-- <ion-slide-box show-pager="false">
<ion-slide> -->
<div class="box">
    <div class="list">
    
            <input type="hidden" name="product_id" value="{{product.id}}">

            <div class="item">
           

                <h2 style="text-align:center">{{product.itemdetail.title}}</h2>

                 <div id="gallery-big" style="width:275px;margin-top:10px;margin-bottom:0">
          
                    <div ng-repeat="image in product.images">
                      <img  src="{{image.image_path}}" style="width:275px;height:150px" />
                    
                    </div>
                </div>
               
                 


                 <div id="gallery-thumbnail" style="width:275px;margin-top:10px;margin-bottom:10px">
          
                    <div ng-repeat="i in [product.images.length] | makeRange" 
                      class="{{(i==0)? 'selected':''}}" 
                      ng-click="click_gallery_thumbnail(product.images[i].ordering)" 
                      >
                      <img id="img_{{product.images[i].id}}"  src="{{product.images[i].image_path}}" style="" />
                   
                    
                    </div>
                </div>
                <p style="margin-top:15px">{{product.itemdetail.quote}}</p>
                <h2 style="display:inline; color:red">{{product.itemdetail.point | number}}</h2>
                <span style="color:red">{{languages.web_currency_plural}}</span>
                <p ng-if="is_tradeout_points_miles()">{{languages.product_points_miles}}</p>

                <!-- start option -->
                <div ng-repeat="product_option in product.itemdetail.options" ng-include="'templates/product/option_view_'+product_option.type+'.html'"></div>
                <!-- end option -->

                <!-- start exchange -->
                <button style="display:block" class="button button-small button-assertive">{{languages.exchange}}</button>
                <p>{{languages.product_limited}}</p>
                <!-- end exchange -->

            </div>

              <div class="item item-divider card">
               
                <h2>{{languages.in_a_nutshell}}</h2>
               
              </div>
              <div class="item item-divider card">
               
                <h2>{{languages.term_condition}}</h2>
               
              </div>
               <div class="item item-divider card">
               
                <h2>Description</h2>
               
              </div>
               <div class="item item-divider card">
               
                <h2>Ask a question</h2>
               
              </div>

    </div>
</div>
<!-- </ion-slide>




</ion-slide-box> -->
<style type="text/css">
.item-avatar p {
	white-space: normal;
}
.item-select select {
	direction: ltr;
}
.item.card{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.item.card img{
    top: 5px;
}

.item.card h2{
    position: absolute;
    left: 60px;
}

h2{
    font-weight: bold;
}

#gallery-big button.slick-prev{
  left: 10px;
}
#gallery-big button.slick-next{
  right: 10px;
}
ul.slick-dots{
  top: 60px;
}

div.slick-slide{
  border: 1px solid white;
}
#gallery-thumbnail div.slick-slide.selected{
   border-color: #E48201;
}
div.slick-slide img{
  width:60px; 
  height:60px;
  display: block;
  margin: auto;
}

#gallery-big .slick-prev{
  display: none;
}
</style>

</ion-content>
</ion-view>