@font-face {
    font-family: fake_receipt;
    src: url("/libgames/abcv/lottery/fonts/fake_receipt.otf") format("off"),
         url("/libgames/abcv/lottery/fonts/fake_receipt.ttf") format("truetype");
}
@font-face {
    font-family: barcode;
    src: url("/libgames/abcv/lottery/fonts/BarcodeFont.ttf") format("truetype");
}

/** ============================================ The lottery game ============================== **/
section[sf-skin=lottery_skin1] .rowlotto {
    margin-top: 5px !important;
}
section[sf-skin=lottery_skin1] .spanlotto {
    float: left;
    cursor: pointer;
    /*
    color: #00ffea;
    text-shadow: 0px 0px 2px rgba(0, 252, 255, 1);*/
    background-color: #0000ff;
    color: #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-weight: bold !important; 
    text-align: center;
    line-height: 40px;
    width: 10% !important;
    margin: 0.5%;
}
section[sf-skin=lottery_skin1] .spanlotto:hover, 
section[sf-skin=lottery_skin1] .spanlotto_selected {
    background-color: #b9001e;
    color: white;
}


section[sf-skin=lottery_skin1] .lotto_badge_selected {
        /*background-color: #AEA79F;*/
        border-radius: 50%;
        color: #FFFFFF;
        display: inline-block;
        font-size: 14px;
        font-weight: bold !important;
        line-height: 1;
        margin-right: 5px;
        min-width: 10px;
        padding: 10px;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        /* IE10 Consumer Preview */ 
        background-image: -ms-linear-gradient(bottom right, #DBDBDB 0%, #666666 100%);
        /* Mozilla Firefox */ 
        background-image: -moz-linear-gradient(bottom right, #DBDBDB 0%, #666666 100%);
        /* Opera */ 
        background-image: -o-linear-gradient(bottom right, #DBDBDB 0%, #666666 100%);
        /* Webkit (Safari/Chrome 10) */ 
        background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #DBDBDB), color-stop(1, #666666));
        /* Webkit (Chrome 11+) */ 
        background-image: -webkit-linear-gradient(bottom right, #DBDBDB 0%, #666666 100%);
        /* W3C Markup, IE10 Release Preview */ 
        background-image: linear-gradient(to top left, #DBDBDB 0%, #666666 100%);
}
section[sf-skin=lottery_skin1] .lotto_badge_power {
        border-radius: 50%;
        color: #FFFFFF;
        display: inline-block;
        font-size: 14px;
        font-weight: bold !important;
        line-height: 1;
        margin-right: 5px;
        min-width: 10px;
        padding: 10px;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        /* IE10 Consumer Preview */ 
        background-image: -ms-linear-gradient(bottom right, #FFAA69 0%, #FF0000 100%);
        /* Mozilla Firefox */ 
        background-image: -moz-linear-gradient(bottom right, #FFAA69 0%, #FF0000 100%);
        /* Opera */ 
        background-image: -o-linear-gradient(bottom right, #FFAA69 0%, #FF0000 100%);
        /* Webkit (Safari/Chrome 10) */ 
        background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFAA69), color-stop(1, #FF0000));
        /* Webkit (Chrome 11+) */ 
        background-image: -webkit-linear-gradient(bottom right, #FFAA69 0%, #FF0000 100%);
        /* W3C Markup, IE10 Release Preview */ 
        background-image: linear-gradient(to top left, #FFAA69 0%, #FF0000 100%);
}
section[sf-skin=lottery_skin1] #lottery_result .correct {
    border: 1px solid #808080;
}
section[sf-skin=lottery_skin1] #lottery_result .incorrect {
    opacity: 0.5;
}
section[sf-skin=lottery_skin1] #lottery_result .awards {
    color: red;
}
section[sf-skin=lottery_skin1] #lottery_result .explain {
    font-size: 12px;
    padding: 5px;
}

section[sf-skin=lottery_skin1] #lottery_run {
    width: 1000px;
    min-height: 600px;
    margin: auto;
}
section[sf-skin=lottery_skin1] #lottery_buy > .row{
    margin: 0 !important;

}
section[sf-skin=lottery_skin1] #lottery_run div[name="step1-2"] {
        padding-left: 30px;
}
section[sf-skin=lottery_skin1] #lottery_runtime
    {
        color: white;
        /*width: 27%;*/
        width: 34%;
        margin: auto;
        font-size: 25px;
    }
section[sf-skin=lottery_skin1] #lottery_runtime img{
        width: 32px;
        height: 32px;
        text-align: center;
        vertical-align: top;
    }
section[sf-skin=lottery_skin1] #lottery_runtime:before
    {
        background-color: transparent !important;
    }

section[sf-skin=lottery_skin1] #lottery_result {
    z-index: 999;
    margin: auto;
    background-color:#ffffff;
    color: #707070;        
}
section[sf-skin=lottery_skin1] #lottery_result:before
    {
        background-color: transparent !important;
    }


section[sf-skin=lottery_skin1] #lottery_run {
/*    background-image: url('/libgames/abcv/lottery/images/bg.png');*/
    background-size: 100% 100%;
    background-position: center center;
    font-family: fake_receipt !important;
}
section[sf-skin=lottery_skin1] #lottery_run h3{
    font-family: fake_receipt;
    /*color: #0000ff;*/
    color: #FFFFFF;
    /*text-shadow: 0px 0px 2px rgba(0, 252, 255, 1);*/
}
section[sf-skin=lottery_skin1] #lottery_run h3.no_text_shadow{
    text-shadow: none;
}
section[sf-skin=lottery_skin1] #lottery_buy, section[sf-skin=lottery_skin1] #lottery_tickets {
    transform: translateX(1500px);
}
section[sf-skin=lottery_skin1] #form_lottery_run div[name=step2]{
    font-family: fake_receipt;
    color: white;
}

section[sf-skin=lottery_skin1] #lottery_tickets {
    color: white;
}

section[sf-skin=lottery_skin1] #lottery_result > div.lottery_alert {
    
    font-family: fake_receipt;
    margin-bottom: 5px;
}
/************************* Introduce *********************************/
section[sf-skin=lottery_skin1] #lottery_introduce {
    background-image: url('/libgames/abcv/lottery/images/intro.png');
    width: 100%;
    height: 600px;
}

/************************* TOOLS *************************************/
section[sf-skin=lottery_skin1] div.tools {
    font-size: 18px;
    width: 1000px;
    margin: auto;
}
section[sf-skin=lottery_skin1] div.tools input,
section[sf-skin=lottery_skin1] div.tools select {
    color: #5A5A5A;
}
section[sf-skin=lottery_skin1] #time_server {
    
}
/************************* BUY ticket ********************************/
section[sf-skin=lottery_skin1] .ui-spinner-input {
    width: 20px;
}
section[sf-skin=lottery_skin1] input {
    color: black;
}
section[sf-skin=lottery_skin1] .error {
    color: red;
    background: white;
    padding: 10px;
}
section[sf-skin=lottery_skin1] .success {
    color: #0B8302;
    background: white;
    padding: 10px;
}
section[sf-skin=lottery_skin1] .notice_transaction {
    color: #414141;
    background: white;
    padding: 10px;
    min-height: 260px;
    max-height: 260px;
    margin-bottom: 10px;
    overflow-y: auto;
}
section[sf-skin=lottery_skin1] .notice_transaction div[sf-data=content]{
    margin-top: 10px;
}
/************************* VIEW HISTORY ******************************/
section[sf-skin=lottery_skin1] #lottery_history {
    z-index: 999;
    margin: auto;
    background-color:#ffffff;
    color: #707070;        
}
section[sf-skin=lottery_skin1] #lottery_history:before
{
    background-color: transparent !important;
}
section[sf-skin=lottery_skin1] #lottery_history .correct {
    border: 1px solid #808080;
}
section[sf-skin=lottery_skin1] #lottery_history .incorrect {
    opacity: 0.5;
}
section[sf-skin=lottery_skin1] #lottery_history .awards {
    color: red;
}
section[sf-skin=lottery_skin1] #lottery_history .explain {
    font-size: 12px;
    padding: 5px;
}
section[sf-skin=lottery_skin1] #lottery_history > div.lottery_alert {
    border: 1px solid #0000FF;
    color: white;
     font-family: fake_receipt;
}
/************************* Your Ticket  ******************************/
section[sf-skin=lottery_skin1] #lottery_tickets #items p.image img[name=thumnail]
{
    width: 100%;
    height: 100%;
}
#fancybox-content img[name=thumnail] {
    width: 100%;
    height: 100%;
}