@font-face {
    font-family: fake_receipt;
    src: url("../fonts/fake_receipt.otf") format("off"),
         url("../fonts/fake_receipt.ttf") format("truetype");
}
@font-face {
    font-family: barcode;
    src: url("../fonts/BarcodeFont.ttf") format("truetype");
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

img.icon32 
{
    width: 32px;
    height: 32px;
}

section[sf-skin=lottery_skin3] 
{
    color: #3D3D3D;
     bottom: 0;
    height: auto;
    left: 0;
    overflow: auto;
    position: absolute !important;
    right: 0;
    top: 0;
    width: auto;
    z-index: 2;
    background-image: url('../images/skin3/bg.png');
    background-size: 100% 100%;
}
section[sf-skin=lottery_skin3] img {
    max-width: 100%;
    vertical-align: middle;
    border: 0 none;

}

/** ============================================ Background ==================================== **/
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4 !important;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%) !important;
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%) !important;
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%) !important;
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    ) !important;
    background-attachment:fixed;   
}
section[sf-skin=lottery_skin3] .row_screen_play_game {
    background-image: url('../images/skin3/bg.png');
    background-size: 100% 100%;
   /* height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;*/

}
/** ============================================ Loadding page ====================================== **/
#loading {
    position: absolute;
    z-index: 999;
    top: 45%;
    left: 40%;
}
#floatingBarsG{
position:relative;
width:62px;
height:77px}

.blockG{
position:absolute;
background-color:#D3AA88;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:1.28s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:1.28s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:1.28s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:1.28s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:1.28s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#rotateG_01{
left:0;
top:28px;
-moz-animation-delay:0.4800000000000001s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.4800000000000001s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.4800000000000001s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.4800000000000001s;
-o-transform:rotate(-90deg);
animation-delay:0.4800000000000001s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.64s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.64s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.64s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.64s;
-o-transform:rotate(-45deg);
animation-delay:0.64s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.8s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.8s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.8s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.8s;
-o-transform:rotate(0deg);
animation-delay:0.8s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.9600000000000002s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.9600000000000002s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.9600000000000002s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.9600000000000002s;
-o-transform:rotate(45deg);
animation-delay:0.9600000000000002s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:1.12s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:1.12s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:1.12s;
-ms-transform:rotate(90deg);
-o-animation-delay:1.12s;
-o-transform:rotate(90deg);
animation-delay:1.12s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:1.28s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:1.28s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:1.28s;
-ms-transform:rotate(135deg);
-o-animation-delay:1.28s;
-o-transform:rotate(135deg);
animation-delay:1.28s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:1.44s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:1.44s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:1.44s;
-ms-transform:rotate(180deg);
-o-animation-delay:1.44s;
-o-transform:rotate(180deg);
animation-delay:1.44s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1.6s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1.6s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1.6s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1.6s;
-o-transform:rotate(-135deg);
animation-delay:1.6s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#D3AA88}

}

@-webkit-keyframes fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#D3AA88}

}

@-ms-keyframes fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#D3AA88}

}

@-o-keyframes fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#D3AA88}

}

@keyframes fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#D3AA88}

}
/** ============================================ Logo ======================================= **/
section[sf-skin=lottery_skin3] *[l-ele=logo]
{
    margin-bottom: 5px;
}
section[sf-skin=lottery_skin3] *[l-ele=logo] img
{
    width: 100%;
}
/** ============================================ Profile ======================================= **/
section[sf-skin=lottery_skin3] *[l-ele=profile]
{
    color: white;
    font-size: 13px;
    font-family: fake_receipt;
    background-color: #ff8829;
    -webkit-box-shadow: -3px 2px 1px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -3px 2px 1px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         -3px 2px 1px 0px rgba(50, 50, 50, 0.5);
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

section[sf-skin=lottery_skin3] *[l-ele=profile] *[l-ele=avatar]
{
    float: left;
}

section[sf-skin=lottery_skin3] *[l-ele=profile] *[l-ele=avatar] img
{
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: white;
    margin: 3px;
}
section[sf-skin=lottery_skin3] *[l-ele=profile] *[l-ele=user]
{
    position: relative;
    float: left;
}
section[sf-skin=lottery_skin3] *[l-ele=profile] *[l-ele=user] img {
    
}
section[sf-skin=lottery_skin3] *[l-ele=profile] *[l-ele=tool]
{
    float: left;
}
section[sf-skin="lottery_skin3"] [l-ele="profile"] [l-ele="user"] span[name="effect_balance"]
{
    color: red;
    left: 0;
    position: absolute;
    top: 40px;
    background-color: white;
    opacity: 0.7;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
}
/** ============================================ Time server  ======================================= **/
section[sf-skin=lottery_skin3] *[l-ele=time_server]
{
    font-family: fake_receipt;
    color: #707070;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 5px;
}
section[sf-skin=lottery_skin3] *[l-ele=time_server] .note
{
    font-size: 12px;
}
section[sf-skin=lottery_skin3] *[l-ele=time_server] #time_server
{
    
    
}
#slide-nav div[l-ele=time_server].time_server_mobile
{
    background-color: white !important;
    line-height: 15px;
    border-radius: 0 !important;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    color: gray;
}
/** ============================================ Choose Number ===================================== **/
section[sf-skin=lottery_skin3] #lotto_run_select5number, 
section[sf-skin=lottery_skin3] #lotto_run_select1number,
section[sf-skin=lottery_skin3] #choose_options{
    padding: 5px;
    border: 1px solid #825E02;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
    margin-bottom: 10px;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #BABABA 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #BABABA 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #BABABA 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #BABABA));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #BABABA 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top left, #FFFFFF 0%, #BABABA 100%);
}

section[sf-skin=lottery_skin3] #lotto_run_select5number h3,
section[sf-skin=lottery_skin3] #lotto_run_select1number h3,
section[sf-skin=lottery_skin3] #choose_options h3{
    margin: 0px;
}




/** ============================================ The lottery game ============================== **/
section[sf-skin=lottery_skin3] .rowlotto {
    margin-top: 5px !important;
}
section[sf-skin=lottery_skin3] .spanlotto {
    float: left;
    cursor: pointer;
    /*
    color: #00ffea;
    text-shadow: 0px 0px 2px rgba(0, 252, 255, 1);*/
    
   
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-weight: bold !important; 
    text-align: center;
    line-height: 40px;
    /*width: 10% !important;*/
    width: 45px;
    margin: 0.5%;
}
/*section[sf-skin=lottery_skin3] .spanlotto:hover,*/ 
section[sf-skin=lottery_skin3] .spanlotto_selected {
   
}


section[sf-skin=lottery_skin3] .lotto_badge_selected {
        /*background-color: #AEA79F;*/
        border-radius: 50%;
        color: #FFFFFF;
        display: inline-block;
        font-size: 14px;
        font-weight: bold !important;
        line-height: 1;
        margin-right: 5px;
        min-width: 10px;
        padding: 10px;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        /* IE10 Consumer Preview */ 
        background-image: -ms-linear-gradient(bottom right, #DBDBDB 0%, #666666 100%);
        /* Mozilla Firefox */ 
        background-image: -moz-linear-gradient(bottom right, #DBDBDB 0%, #666666 100%);
        /* Opera */ 
        background-image: -o-linear-gradient(bottom right, #DBDBDB 0%, #666666 100%);
        /* Webkit (Safari/Chrome 10) */ 
        background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #DBDBDB), color-stop(1, #666666));
        /* Webkit (Chrome 11+) */ 
        background-image: -webkit-linear-gradient(bottom right, #DBDBDB 0%, #666666 100%);
        /* W3C Markup, IE10 Release Preview */ 
        background-image: linear-gradient(to top left, #DBDBDB 0%, #666666 100%);
}
section[sf-skin=lottery_skin3] .lotto_badge_power {
        border-radius: 50%;
        color: #FFFFFF;
        display: inline-block;
        font-size: 14px;
        font-weight: bold !important;
        line-height: 1;
        margin-right: 5px;
        min-width: 10px;
        padding: 10px;
        text-align: center;
        vertical-align: baseline;
        white-space: nowrap;
        /* IE10 Consumer Preview */ 
        background-image: -ms-linear-gradient(bottom right, #FFAA69 0%, #FF0000 100%);
        /* Mozilla Firefox */ 
        background-image: -moz-linear-gradient(bottom right, #FFAA69 0%, #FF0000 100%);
        /* Opera */ 
        background-image: -o-linear-gradient(bottom right, #FFAA69 0%, #FF0000 100%);
        /* Webkit (Safari/Chrome 10) */ 
        background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFAA69), color-stop(1, #FF0000));
        /* Webkit (Chrome 11+) */ 
        background-image: -webkit-linear-gradient(bottom right, #FFAA69 0%, #FF0000 100%);
        /* W3C Markup, IE10 Release Preview */ 
        background-image: linear-gradient(to top left, #FFAA69 0%, #FF0000 100%);
}
section[sf-skin=lottery_skin3] #lottery_result .correct {
    border: 1px solid #808080;
}
section[sf-skin=lottery_skin3] #lottery_result .incorrect {
    opacity: 0.5;
}
section[sf-skin=lottery_skin3] #lottery_result .awards {
    color: red;
}
section[sf-skin=lottery_skin3] #lottery_result .explain {
    font-size: 12px;
    padding: 5px;
}

section[sf-skin=lottery_skin3] #lottery_run {
    
    min-height: 600px;
    margin: auto;
    position: relative;
}
section[sf-skin=lottery_skin3] #lottery_buy > .row{
    margin: 0 !important;

}
section[sf-skin=lottery_skin3] #lottery_run div[name="step1-2"] {
        padding-left: 30px;
}
/** =========================================== LOTTERY TIMER DOWN ============================================= **/
section[sf-skin=lottery_skin3] #lottery_runtime
{
    color: white;
    margin: auto;
    font-size: 25px;
    background-color: #B2B2B2;
    opacity: 0.9; 
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    
}
section[sf-skin=lottery_skin3] #lottery_runtime div
{
    margin-top: 20%;
}
section[sf-skin=lottery_skin3] #lottery_runtime img{
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: top;
}
section[sf-skin=lottery_skin3] #lottery_runtime:before
{
    background-color: transparent !important;
}

/** =============================================== LOTTERY RESULT ================================================== **/
section[sf-skin=lottery_skin3] #lottery_result {
    z-index: 999;
    margin: auto;
    background-color:#ffffff;
    color: #707070;        
}
section[sf-skin=lottery_skin3] #lottery_result:before
    {
        background-color: transparent !important;
    }


section[sf-skin=lottery_skin3] #lottery_run {
/*    background-image: url('../images/bg.png');*/
    background-size: 100% 100%;
    background-position: center center;
    font-family: fake_receipt !important;
}
section[sf-skin=lottery_skin3] #lottery_run h3{
    font-family: fake_receipt;
    /*color: #0000ff;*/
    
    /*text-shadow: 0px 0px 2px rgba(0, 252, 255, 1);*/
}
section[sf-skin=lottery_skin3] #lottery_run h3.no_text_shadow{
    text-shadow: none;
}
section[sf-skin=lottery_skin3] #lottery_buy{
    /*transform: translateX(1500px);*/
}
section[sf-skin=lottery_skin3] #form_lottery_run div[name=step2]{
    font-family: fake_receipt;
}

section[sf-skin=lottery_skin3] #lottery_result > div.lottery_alert {
    
    font-family: fake_receipt;
    margin-bottom: 5px;
}
/************************* Introduce *********************************/
section[sf-skin=lottery_skin3] #lottery_introduce {
    background-image: url('../images/intro.png');
    width: 100%;
    height: 107%;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;
}
section[sf-skin=lottery_skin3] #lottery_introduce *[l-ele=loading] {
    text-align: center;
    bottom: 0;
    position: fixed;
    background-color: #ACACAC;
    width: 100%;
    opacity: 0.7;
}

/************************* TOOLS *************************************/
section[sf-skin=lottery_skin3] div.tools {
    font-size: 18px;
    margin: auto;
}
section[sf-skin=lottery_skin3] div.tools input,
section[sf-skin=lottery_skin3] div.tools select {
    color: #5A5A5A;
}
section[sf-skin=lottery_skin3] #time_server {
    
}
/************************* BUY ticket ********************************/
section[sf-skin=lottery_skin3] .ui-spinner-input {
    width: 20px;
}
section[sf-skin=lottery_skin3] input {
    color: black;
}
section[sf-skin=lottery_skin3] .error {
    color: red;
    background: white;
    padding: 10px;
}
section[sf-skin=lottery_skin3] .success {
    color: #0B8302;
    background: white;
    padding: 10px;
}
section[sf-skin=lottery_skin3] .notice_transaction {
    color: #414141;
    background: white;
    padding: 10px;
    min-height: 260px;
    max-height: 260px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    border: 1px solid #825E02;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
section[sf-skin=lottery_skin3] .notice_transaction div[sf-data=content]{
    margin-top: 10px;
}
/************************* VIEW HISTORY ******************************/
section[sf-skin=lottery_skin3] #lottery_history {
    z-index: 999;
    margin: auto;
    background-color:#ffffff;
    color: #707070;        
}
section[sf-skin=lottery_skin3] #lottery_history:before
{
    background-color: transparent !important;
}
section[sf-skin=lottery_skin3] #lottery_history .correct {
    border: 1px solid #808080;
}
section[sf-skin=lottery_skin3] #lottery_history .incorrect {
    opacity: 0.5;
}
section[sf-skin=lottery_skin3] #lottery_history .awards {
    color: red;
}
section[sf-skin=lottery_skin3] #lottery_history .explain {
    font-size: 12px;
    padding: 5px;
}
section[sf-skin=lottery_skin3] #lottery_history > div.lottery_alert {
    border: 1px solid #0000FF;
    color: white;
     font-family: fake_receipt;
}
section[sf-skin=lottery_skin3] #lottery_history .drop_time ul.dropdown-menu{
    max-height: 200px;
    overflow-y: auto;
}
section[sf-skin=lottery_skin3] #lottery_history .drop_time ul.dropdown-menu li.active{
    background-color: #FF6666;
    color: #015102;
}
/************************* Your Ticket  ******************************/
section[sf-skin=lottery_skin3] #lottery_tickets #items p.image img[name=thumnail]
{
    width: 100%;
    height: 100%;
}

section[sf-skin=lottery_skin3] #lottery_tickets {
    color: white;
}

section[sf-skin=lottery_skin3] #lottery_tickets *[l-ele=ticket] {
    background: none repeat scroll 0 0 #DBDAE0;
    border-radius: 5px;
    box-shadow: 0 1px 1px #777777;
    color: #555555;
    margin: 4px;
    overflow: hidden;
    text-align: center;
    padding: 5%;
}
section[sf-skin=lottery_skin3] #lottery_tickets *[l-ele=ticket].new_ticket {
    background: #DFDC01;
}

section[sf-skin=lottery_skin3] #lottery_tickets *[l-ele=ticket] p.image img{
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 1px #BBBBBB;
    height: 200px;
}
section[sf-skin=lottery_skin3] #lottery_tickets *[l-ele=ticket] h3{
    margin: 0;
}
section[sf-skin=lottery_skin3] #lottery_tickets *[l-ele=paging] {
    
}
section[sf-skin=lottery_skin3] #lottery_tickets *[l-ele=paging] ul li{
    
}

#fancybox-content img[name=thumnail] {
    width: 100%;
    height: 100%;
}
#swipebox-slider .slide > img {
    width: 50%;
    height: auto;
}
#swipebox-slider .current > img {
    width: 80% !important;
    height: auto !important;
}