ion-side-menu.ko-side-menu-left {
  background-color: #363738;
}
ion-side-menu.ko-side-menu-left > header {
  background: transparent;
  background-color: transparent !important;
  border-bottom: 1px solid #080808;
}

/**************** List menu ************************/
ion-side-menu.ko-side-menu-left ion-list {

}
ion-side-menu.ko-side-menu-left ion-list ion-item,
ion-side-menu.ko-side-menu-left ion-list ion-item a
{
  color: white;
  background-color: transparent !important;
  border-bottom: 1px solid #080808;
  border-top: 0;
  overflow: hidden;
}